@import "./src/assets/index.scss";

.about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.our-mission {
    font-family: "Share Tech";
    color: $white;
    text-transform: uppercase;
    font-size: 75px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 3s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
}

.hero {
    max-height: 60vh;
    display: flex;
    flex-wrap: wrap;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.hero-background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
}

.summary-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 80vh;
}

.summary-title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    font-family: "Share Tech";
    color: $black;
    text-transform: uppercase;
    font-size: 50px;
}

.summary {
    font-family: "Share Tech";
    color: $black;
    font-size: 35px;
    padding: 0 70px 15px 70px;
}

@media screen and (max-width: 796px) {
    .our-mission {
        font-size: 50px;
    }

    .hero-background {
        min-height: 60vh;
    }

    .hero,
    .summary-container {
        max-height: none;
        min-height: 60vh;
    }

    .summary-title {
        font-size: 30px;
    }

    .summary {
        font-size: 20px;
    }
}
