@import "./src/assets/index.scss";

.contact-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.contact-hero {
    overflow: hidden;
    max-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    object-fit: contain;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.contact-header {
    font-family: "Share Tech";
    color: $white;
    text-transform: uppercase;
    font-size: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    animation: fadeIn 3s;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        50% {
            opacity: 1;
        }
        100% {
            opacity: 1;
        }
    }
}

.cubes {
    background-position: top;
    object-fit: cover;
    z-index: -1;
    width: 100%;
}

.contact-info {
    max-height: 75vh;
    background-color: $primary-two;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.contact-desc {
    max-width: 50%;
    font-family: "Share Tech";
    color: $white;
    font-size: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.caring {
    max-width: 35%;
    padding-right: 25px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1196px) {
    .contact-header {
        font-size: 50px;
    }
    .contact-desc {
        font-size: 25px;
    }
}

@media screen and (max-width: 796px) {
    .contact-info {
        flex-direction: column-reverse;
    }

    .contact-desc {
        padding-bottom: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .caring {
        max-width: 25%;
        padding-right: 0;
    }
}

@media screen and (max-width: 496px) {
    .contact-header {
        font-size: 30px;
    }

    .contact-desc {
        font-size: 12px;
    }
}
