@import "./src/assets/index.scss";

.card-five-container {
    overflow: hidden;
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.five-photo-section {
    height: 60vh;
    width: 50vw;
    display: flex;
    flex-wrap: wrap;
}

.security {
    object-fit: fill;
    width: 50vw;
    height: 60vh;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
}

.five-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    min-width: 50vw;
    background-color: $primary-two;
}

.card-five-title {
    font-family: "Share Tech";
    color: $white;
    text-transform: uppercase;
    font-size: 36px;
}

.card-five-desc {
    font-family: "Share Tech";
    color: $white;
    font-size: 26px;
    text-align: left;
    padding: 15px 50px 0 50px;
}
