@import "./src/assets/index.scss";

.card-one-container {
    width: 100%;
    overflow: hidden;
    max-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.3);
}

.plexus {
    background-position: top;
    object-fit: cover;
    z-index: -1;
    width: 100%;
}

.card-one-header {
    font-family: "Share Tech";
    color: $white;
    text-transform: uppercase;
    font-size: 80px;
    z-index: 1;
    position: absolute;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1196px) {
    .card-one-header {
        font-size: 56px;
    }
}

@media screen and (max-width: 496px) {
    .card-one-header {
        font-size: 36px;
    }
}
