@import "./src/assets/index.scss";

.card-six-container {
    overflow: hidden;
    min-height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.six-photo-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
}

.educating {
    object-fit: fill;
    width: 100%;
    height: 60vh;
    position: relative;
    z-index: -1;
    display: flex;
    align-items: center;
}

.six-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    width: 100%;
}

.card-six-title {
    font-family: "Share Tech";
    color: $black;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
}

.card-six-desc {
    font-family: "Share Tech";
    color: $black;
    font-size: 26px;
    text-align: right;
    padding: 15px 100px 0 100px;
}

@media screen and (max-width: 960px) {
    .card-six-container {
        flex-direction: column;
    }

    .card-six-desc {
        font-size: 20px;
        text-align: center;
    }

    .six-photo-section,
    .educating {
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 596px) {
    .card-six-title {
        font-size: 20px;
    }

    .card-six-desc {
        font-size: 12px;
    }
}
